.grid-cell {
  border-radius: 20px;
  height: var(--cell-size);
  width: var(--cell-size);
  /* border: 1px solid #aaa; */
  background-color: var(--imcomplete-bg);
  box-shadow: var(--cell-shadow);
  border-bottom: 8px solid var(--imcomplete-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 800;
  -webkit-text-stroke: 2px #555;
  color: #fff;
}

.grid-cell.correct {
  background-color: var(--correct-bg);
  border-bottom: 8px solid var(--correct-shadow);
}
.grid-cell.imcorrect {
  background-color: var(--imcorrect-bg);
  border-bottom: 8px solid var(--imcorrect-shadow);
}
.grid-cell.wrong-position {
  background-color: var(--wrong-positon-bg);
  border-bottom: 8px solid var(--wrong-positon-shadow);
}
