:root {
  /* ------------------------------GENERAL -------------------------------- */
  --gap: 20px;
  /* ----------------------------- GRID-CELL ------------------------------ */
  --cell-size: 80px;
  /* --cell-shadow-color: #000000ee; */
  --cell-shadow: 0px 5px 10px -3px #00000088;
  --cell-shadow-hover: 0px 8px 10px -3px #00000088;
  --imcomplete-bg: #ffffff;
  --imcomplete-shadow: #9ebff1;
  --imcorrect-bg: #ccc;
  --imcorrect-shadow: #545454;
  --correct-bg: #b1fe0e;
  --correct-shadow: #36b101;
  --wrong-positon-bg: #fef572;
  --wrong-positon-shadow: #ff6100;
  --gray:#727272;

  /* -- */
}

.App {
  z-index: 2;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;

  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* background: rgb(143,75,222); */
background: linear-gradient(180deg, rgba(143,75,222,1) 0%, rgba(225,171,203,1) 50%, rgba(137,163,237,1) 100%);
}

header {
  margin: 40px;
}

footer {
  height: 150px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  flex: 1;
  align-items: center;
  justify-content: center;
}

